@use "../abstracts/colors" as clr;

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: clr.$bg-third;
  z-index: 10;
  overflow: auto;
  animation: lightboxIn 500ms;
  transition: opacity 300ms;
}
.lightbox.fadeOut {
  opacity: 0;
}

.lightbox__next,
.lightbox__prev {
  border: none;
  width: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: -14px;
  z-index: 11;
}
.lightbox__next {
  background: url(/src/assets/icons/arrowR.svg)center center / 100% 100% no-repeat;
}
.lightbox__prev {
  right: auto;
  left: 0;
  background: url(/src/assets/icons/arrowL.svg)center center / 100% 100% no-repeat;
}
.lightbox__close {
  width: 30px;
  height: 30px;
  border: none;
  background: url(/src/assets/icons/close.svg) center center / 100% 100% no-repeat transparent;
  position: fixed;
  top: 20px;
  right: 10px;
  z-index: 12;
}
.lightbox button {
  opacity: .5;
  cursor: pointer;
  transition: opacity .3s;
  text-indent: -3000px;
}
.lightbox button:hover {
  opacity: 1;
}
.lightbox__container img {
  max-width: 100%;
  max-height: 100vh;
  height: auto;
  animation: lightboxIn .5s;
}
.lightbox__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  min-height: 100vh;
  max-width: 90vw;
  min-height: 100vh;
}
.lightbox__legend {
  align-self: flex-start;
}
.lightbox__loader {
  width: 38px;
  height: 38px;
  opacity: .5;
  background: url(/src/assets/icons/loader.svg) center center no-repeat;
}
.lightbox__content{
  max-width: 90vw;
  max-height: 90vh;
}
.lightbox-content__legend{
  align-self: flex-start;
  color: clr.$font-primary;
}

@keyframes lightboxIn {
  from {opacity: 0;}
  to {opacity: 1;}
}