::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #FFF;
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background: #9ca2b0;
  border-radius: 4px;
}

.lightbox::-webkit-scrollbar-track {
  background: black;
}

.lightbox::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .3);
}


.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 10;
  overflow: auto;
  animation: lightboxIn 500ms;
  transition: opacity 300ms;
}
.lightbox.fadeOut {
  opacity: 0;
}
.lightbox__next,
.lightbox__prev {
  border: none;
  background: url(/src/assets/icons/arrow.svg) center center / 16px 28px no-repeat;
  width: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: -14px;
  z-index: 11;
}
.lightbox__prev {
  right: auto;
  left: 0;
  transform: rotate(180deg);
}
.lightbox__close {
  width: 30px;
  height: 30px;
  border: none;
  background: url(/src/assets/icons/close.svg) center center / 100% 100% no-repeat transparent;
  position: fixed;
  top: 20px;
  right: 10px;
  z-index: 12;
}
.lightbox button {
  opacity: .5;
  cursor: pointer;
  transition: opacity .3s;
  text-indent: -3000px;
}
.lightbox button:hover {
  opacity: 1;
}
.lightbox__container img {
  max-width: 100%;
  height: auto;
  animation: lightboxIn .5s;
}
.lightbox__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 100vh;
}
.lightbox__loader {
  width: 38px;
  height: 38px;
  opacity: .5;
  background: url(/src/assets/icons/loader.svg) center center no-repeat;
}

@keyframes lightboxIn {
  from {opacity: 0;}
  to {opacity: 1;}
}