@use '../abstracts/typo' as typo;
@use "../abstracts/colors" as clr;

// Contact Modal
.modal__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: clr.$bg-third;
  background-color: rgba(0, 0, 0, .9);
  z-index: 20;
  overflow: auto;
  animation: lightboxIn 500ms;
  transition: opacity 300ms;
}
.modal__container.fadeOut {
  opacity: 0;
}
.modal__view{
  position: relative;
  background-color: clr.$bg-secondary;
  width: 40vw;
  height: 80vh;
  padding: 2rem;
  border-radius: 5px;
}

.modal__close,
.modal__submit {
position: absolute;
}
.modal__close {
  right: 2rem;
}
.modal__submit {
  bottom: 2rem;
  text-align: center;
}
.modal__heading{
  @include typo.names-font;
  font-size: 2.5rem;
}
#contact-form {
  margin-block: 2rem;
}
.form-item{
  margin-block:0.2rem;
}
.item-label{
  font-size: 1.5rem;
}
.input__control {
  background-color: clr.$bg-third;
  width: 100%;
  line-height: 2rem;
  padding-left: 5px;
  border-radius: 5px;
  margin-block-start: 0.2rem;
  &.area {
    line-height: 3rem;
  }
}
