$clr-primary: hsla(0,67%,34%,1);//#901C1C
$clr-secondary: hsla(11,63%,53%,1);//#D3573C

$clr-bg-primary:hsla(0,67%,34%,1);//#901C1C
$clr-bg-secondary:hsla(11,58%,66%,1);//#DB8876
$clr-bg-third:hsla(0,0%,98%,1);//#FAFAFA

$clr-font-primary: hsla(0,67%,34%,1);//#901C1C
$clr-font-secondary: hsla(11,63%,53%,1);//#D3573C
$clr-font-third:hsla(0,0%,32%,1);//#525252

$clr-neutral: hsla(0,0%,100%,1);//#FFFFFF
$clr-neutral-black: hsla(0,0%,0%,1);//#000000
$clr-neutral-grey: hsla(0,0%,46%,1);//#757575
$clr-shadow: hsla(0,0%,77%,1);//#C4C4C4