@use '../abstracts/colors' as clr;
@use '../utils/variables' as v;

@mixin font-base {
  font-family: DM Sans;
  font-style: normal;
  font-weight: v.$ft-w-normal; 
}

@mixin names-font { 
  @include font-base;
  font-size: 2rem;
  line-height: 47px;
}
@mixin location-font { 
  @include font-base;
  font-size: 1.2rem;
  line-height: 23px;
  
  color: clr.$font-primary;
}
@mixin description-font {
  @include font-base;
  font-size: 10px;
  line-height: 13px;

  color: clr.$neutral-black;
}
@mixin price-font {
  @include font-base;
  font-size: 0.7rem;
  line-height: 12px;

  color: clr.$neutral-grey;
}
@mixin tags-font { 
  @include font-base;
  font-weight: v.$ft-w-middle;
  font-size: 12px;
  line-height: 16px;

  color: clr.$font-primary;
}
@mixin btn-static-font {
  @include font-base;
  font-weight: v.$ft-w-normal;
  font-size: 1rem;
  line-height: 23px;

  color: clr.$neutral;
}
.al-c {
  text-align: center;
}
.photogr-name__view {
	font-size: 3rem;
}